{% extends "_layouts/base.html" %}
{% load staticfiles%}
{% block content %}
{% load embed_video_tags %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink-alt" id="indexNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Space Launch Now</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link active js-scroll-trigger active" href="/next">Next Launch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#services">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#portfolio">Launches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/v1">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="https://launchlibrary.net/1.2/docs/api.html">Launch
                        Library</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron jumbotron-billboard" style="margin_top:64px">
        <div class="img" style="background: #000 url({{ launch.img_url }}) center center;"></div>
        <div class="container">
            <h1>{{ launch.name }}</h1>
            <h2 class="subheading">{{ launch.mission_name }}</h2>
            <span class="meta">NET: {{ launch.net }}</span>
        </div>
    </div>
</div>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            {% for url in youtube_urls %}
            <h1 class="mt-4">Watch Here</h1>
            {% video url as my_video %}
                    {% video my_video 'medium' %}
                {% endvideo %}
            {% endfor %}

            <hr>

            <!-- Date/Time -->
            <h3>Launch Window</h3>
            <p>Open: October 5, 2017 07:30:00 UTC</p>
            <p>Close: October 5, 2017 09:00:00 UTC</p>
            <hr>

            <h4>Mission
                <small>{{ launch.mission_name }}</small>
            </h4>

            <!-- Post Content -->
            <p class="lead">{{ launch.mission_type }}</p>
            <p>{{ launch.mission_description}}</p>


            <hr>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Categories Widget -->
            <div class="card my-2">
                <a class="twitter-timeline" href="https://twitter.com/SpaceLaunchNow?ref_src=twsrc%5Etfw">Tweets by
                    SpaceLaunchNow</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}

