{% extends "rest_framework/login_base.html" %}
{% load static%}

{% block head %}

<title>{% block title %}{% if name and 'Space Launch' not in name%}{{ name }} | {% endif %}Space Launch Now - Login{% endblock %}</title>

{% block style %}
{{ block.super }}
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
{% endblock %}

{% block bootstrap_theme %}
    <link href="{% static  'material_kit/css/bootswatch-paper.css' %}" rel="stylesheet">
{% endblock %}

{% endblock %}

{% block branding %}
    <h3 style="margin: 0 0 10px;">API Admin Login</h3>
{% endblock %}