{% extends "web/base.html" %}
{% load static %}
{% load thumbnail %}
{% load humanize %}
{% load static %}
{% block extrahead %}
    <link rel="canonical" href="https://spacelaunchnow.me/astronaut/{{ astronaut.slug }}">
    <title>Space Launch Now - {{ astronaut.name }}</title>
    <meta name="title" content="Space Launch Now - {{ astronaut.name }}">
    <meta property="fb:app_id" content="746774215504127"/>
    <meta property="og:title" content="Space Launch Now - {{ astronaut.name }}"/>
    <meta property="og:type" content="website"/>
    <meta name="description"
          content="{{ astronaut.name }} - {{ astronaut.bio|truncatechars:100 }}">
    <meta property="og:description"
          content="{{ astronaut.name }} - {{ astronaut.bio|truncatechars:100 }}">
    <meta property="og:url" content="https://spacelaunchnow.me/astronaut/{{ astronaut.slug }}"/>
    {% if astronaut.profile_image %}
        <meta property="og:image" content="{{ astronaut.profile_image.url }}"/>
    {% else %}
        <meta property="og:image" content="{% static  'img/social.png' %}"/>
        <meta property="og:image:width" content="3000"/>
        <meta property="og:image:height" content="2000"/>
    {% endif %}


    <meta name="robots" content="index, follow"/>

    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Space Launch Now"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Space Launch Now - {{ astronaut.name }}">
    <meta name="twitter:description" content="{{ astronaut.name }} - {{ astronaut.bio|truncatechars:100 }}">
        {% if astronaut.profile_image %}
        <meta name="twitter:image" content="{{ astronaut.profile_image.url }}"/>
    {% else %}
        <meta name="twitter:image" content="{% static  'img/social.png' %}"/>
    {% endif %}
    <meta name="twitter:site" content="@SpaceLaunchNow">
    <meta name="twitter:creator" content="@SpaceLaunchNow">
{% endblock %}


{% block navigation %}
    {% include "web/navigation.html" %}
{% endblock %}

{% block content %}
    {% load embed_video_tags %}
    <!-- Page Content -->
    <div class="container" style="margin-top:100px; margin-bottom: 16px">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-9 col-md-12 col-xl-9">
                <div class="text-center">
                    {% if astronaut.profile_image %}
                        <img src="{{ astronaut.profile_image.url }}"
                             alt="Circle Image"
                             class="img-raised rounded-circle img-fluid text-center"
                             style="overflow: hidden;width: 400px;height: 400px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                    {% else %}
                        <img src="https://x.kinja-static.com/assets/images/logos/placeholders/default.png"
                             alt="Circle Image"
                             class="img-raised rounded-circle img-fluid text-center"
                             style="overflow: hidden;width: 400px;height: 400px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                    {% endif %}
                </div>
                <h1 class="title text-center">{{ astronaut.name }} </h1>
                <h2 class="text-center">{{ astronaut.nationality }} {% if astronaut.agency %} - (
                    {{ astronaut.agency.abbrev }}) {% endif %}</h2>
                <h3 class="text-center">{{ astronaut.status.name }} </h3>
                <p class="figure-caption text-center">
                    Date of Birth: {{ astronaut.date_of_birth }}<br>
                    {% if astronaut.date_of_death %}
                        Date of Death: {{ astronaut.date_of_death }}
                    {% else %}
                        Age: {{ astronaut.age }}
                    {% endif %}
                </p>
                <hr>
                <div class="row">
                    <div class="col-md-12 ml-auto mx-auto mr-auto text-lg-center">
                        <div class="profile">
                            <div class="justify-content-center">
                                {% if astronaut.twitter %}
                                    <a href="{{ astronaut.twitter }}"
                                       class="btn btn-link btn-just-icon"><i
                                            class="fab fa-twitter"></i></a>
                                {% endif %}
                                {% if astronaut.instagram %}
                                    <a href="{{ astronaut.instagram }}"
                                       class="btn btn-link btn-just-icon"><i
                                            class="fab fa-instagram"></i></a>
                                {% endif %}
                                {% if astronaut.wiki %}
                                    <a href="{{ astronaut.wiki }}"
                                       class="btn btn-link btn-just-icon"><i
                                            class="fab fa-wikipedia-w"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>{{ astronaut.bio }} </p>
                    {% if upcoming_launches|length > 0 %}
                        <div class="col-md-12 ml-auto mx-auto mr-auto text-lg-center text-center">
                            <h1>
                                <i class="fa fa-rocket"></i> Upcoming Spaceflights
                            </h1>
                            <hr>
                        </div>
                        {% for launch in upcoming_launches %}
                            <div class="card text-left" style="margin-top: 75px">
                                <div class="card-header {% if 'GO' in launch.status.abbrev %} card-header-success {% elif 'TBD' in launch.status.abbrev %} card-header-danger {% else %} card-header-info {% endif %} p-2">
                                    <div class="row">
                                        <div class="col-md-4 text-center" style="height: 150px">
                                            {% if launch.rocket.configuration.image_url %}
                                                {% thumbnail launch.rocket.configuration.image_url "200" as im %}
                                                    <img class="img-raised rounded-circle img-fluid text-center"
                                                         src="{{ im.url }}"
                                                         style="overflow: hidden;width: 150px;height: 150px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                                                {% endthumbnail %}
                                            {% elif launch.rocket.configuration.manufacturer.image_url %}
                                                {% thumbnail launch.rocket.configuration.manufacturer.image_url "200" as im %}
                                                    <img class="img-raised rounded-circle img-fluid text-center"
                                                         src="{{ im.url }}"
                                                         style="overflow: hidden;width: 150px;height: 150px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                                                {% endthumbnail %}
                                            {% else %}
                                                <img class="img-raised rounded-circle img-fluid text-center"
                                                     src="https://x.kinja-static.com/assets/images/logos/placeholders/default.png"
                                                     style="overflow: hidden;width: 150px;height: 150px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8 text-md-left text-center">
                                            <h4 class="card-title">{{ launch.name }}</h4>
                                            {{ launch.rocket.configuration.manufacturer.name }}
                                            | {{ launch.rocket.configuration.manufacturer.country_code }}<br>
                                            {{ launch.pad.location.name }}<br>
                                            <i>{{ launch.net }}</i><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {% if launch.status %}
                                        <h5 class="card-text"><b>Status: </b>{{ launch.status.abbrev }}</h5>
                                    {% endif %}
                                    {% if launch.mission %}
                                        <h5 class="card-text"><b>Mission: </b>{{ launch.mission.type_name }}</h5>
                                        <p class="card-text">{{ launch.mission.description }}</p>
                                    {% else %}
                                        <h5 class="card-text">Unknown Mission</h5>
                                        <p class="card-text">There are no mission or payload details available for
                                            this
                                            launch.</p>
                                    {% endif %}
                                    <span class="badge badge-pill badge-success">{{ launch.mission.orbit.name }}</span>
                                    {% if launch.hashtag %}
                                        <span class="badge badge-pill badge-primary">{{ launch.hashtag }}</span>
                                    {% endif %}
                                    {% if launch.rocket.firststage.all|length > 0 %}
                                        {% for stage in launch.rocket.firststage.all %}
                                            {% if stage.landing.landing_location %}
                                                <span class="badge badge-pill badge-info"> {{ stage.launcher.serial_number }} - {{ stage.reused|yesno:"Flight Proven,Maiden Flight" }}
                                                    {% if stage.reused %}({{ stage.launcher.previous_flights }}
                                                        ) {% endif %}</span>
                                                <span class="badge badge-pill badge-primary">{{ stage.landing.landing_location.name }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <hr/>
                                    <row>
                                        <a class="btn btn-primary" href="/launch/{{ launch.slug }}">Explore</a>
                                        <a data-site class="btn btn-danger"
                                           href="http://www.facebook.com/sharer.php?u={{ launch.get_full_absolute_url }}"
                                           target="_blank">Share</a>
                                    </row>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if previous_astronaut_launches|length > 0 %}
                        <div class="col-md-12 ml-auto mx-auto mr-auto text-lg-center text-center">
                            <h1>
                                <i class="fa fa-rocket"></i> Spaceflight Record
                            </h1>
                            <h3>
                                <a>{{ astronaut.name }} flew on {{ previous_astronaut_launches|length|apnumber }} previous launch(es).</a>
                            </h3>
                            <hr>
                        </div>
                        {% for launch in previous_astronaut_launches %}
                            <div class="card text-left" style="margin-top: 75px">
                                <div class="card-header {% if 'GO' in launch.status.abbrev %} card-header-success {% elif 'TBD' in launch.status.abbrev %} card-header-danger {% else %} card-header-info {% endif %} p-2">
                                    <div class="row">
                                        <div class="col-md-4 text-center" style="height: 150px">
                                            {% if launch.rocket.configuration.image_url %}
                                                {% thumbnail launch.rocket.configuration.image_url "200" as im %}
                                                    <img class="img-raised rounded-circle img-fluid text-center"
                                                         src="{{ im.url }}"
                                                         style="overflow: hidden;width: 150px;height: 150px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                                                {% endthumbnail %}
                                            {% elif launch.rocket.configuration.manufacturer.image_url %}
                                                {% thumbnail launch.rocket.configuration.manufacturer.image_url "200" as im %}
                                                    <img class="img-raised rounded-circle img-fluid text-center"
                                                         src="{{ im.url }}"
                                                         style="overflow: hidden;width: 150px;height: 150px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                                                {% endthumbnail %}
                                            {% else %}
                                                <img class="img-raised rounded-circle img-fluid text-center"
                                                     src="https://x.kinja-static.com/assets/images/logos/placeholders/default.png"
                                                     style="overflow: hidden;width: 150px;height: 150px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8 text-md-left text-center">
                                            <h4 class="card-title">{{ launch.name }}</h4>
                                            {{ launch.rocket.configuration.manufacturer.name }}
                                            | {{ launch.rocket.configuration.manufacturer.country_code }}<br>
                                            {{ launch.pad.location.name }}<br>
                                            <i>{{ launch.net }}</i><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {% if launch.status %}
                                        <h5 class="card-text"><b>Status: </b>{{ launch.status.abbrev }}</h5>
                                    {% endif %}
                                    {% if launch.mission %}
                                        <h5 class="card-text"><b>Mission: </b>{{ launch.mission.type_name }}</h5>
                                        <p class="card-text">{{ launch.mission.description }}</p>
                                    {% else %}
                                        <h5 class="card-text">Unknown Mission</h5>
                                        <p class="card-text">There are no mission or payload details available for
                                            this
                                            launch.</p>
                                    {% endif %}
                                    <span class="badge badge-pill badge-success">{{ launch.mission.orbit.name }}</span>
                                    {% if launch.hashtag %}
                                        <span class="badge badge-pill badge-primary">{{ launch.hashtag }}</span>
                                    {% endif %}
                                    {% if launch.rocket.firststage.all|length > 0 %}
                                        {% for stage in launch.rocket.firststage.all %}
                                            {% if stage.landing.landing_location %}
                                                <span class="badge badge-pill badge-info"> {{ stage.launcher.serial_number }} - {{ stage.reused|yesno:"Flight Proven,Maiden Flight" }}
                                                    {% if stage.reused %}({{ stage.launcher.previous_flights }}
                                                        ) {% endif %}</span>
                                                <span class="badge badge-pill badge-primary">{{ stage.landing.landing_location.name }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <hr/>
                                    <row>
                                        <a class="btn btn-primary" href="/launch/{{ launch.slug }}">Explore</a>
                                        <a data-site class="btn btn-danger"
                                           href="http://www.facebook.com/sharer.php?u={{ launch.get_full_absolute_url }}"
                                           target="_blank">Share</a>
                                    </row>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="text-center">
                            <h1>
                                <i class="fa fa-rocket"></i> Spaceflight Record
                            </h1>
                            <h3>
                                <a>No spaceflights found for {{ astronaut.name }}.</a>
                            </h3>
                        </div>
                    {% endif %}
                </div>
                <hr>
                <div class="col-md-8 ml-auto mx-auto mr-auto text-center">
                    <div class="profile">
                        <div class="avatar">
                            {% if astronaut.agency.logo_url %}
                                <img src="{{ astronaut.agency.logo_url.url }}"
                                     alt="Circle Image"
                                     class="img-fluid mx-auto"
                                     style="max-width: 75%;max-height: 400px;">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <row>
                    <div class="col-md-12 text-center">
                        {% if astronaut.agency.administrator %}
                            <span class="badge badge-pill badge-primary">{{ astronaut.agency.administrator }}</span>
                        {% endif %}
                        {% if agency.founding_year %}
                            <span class="badge badge-pill badge-warning">Founded: {{ astronaut.agency.founding_year }}</span>
                        {% endif %}
                        <br>
                        {% if astronaut.agency.description %}
                            <p class="card-body">{{ astronaut.agency.description }}</p>
                        {% endif %}
                    </div>
                </row>
            </div>


            <!-- Sidebar Widgets Column -->
            <div class="col-lg-3 col-md-12 col-xl-3">
                <!-- Categories Widget -->
                {% include "web/sidebar_full.html" %}
            </div>
        </div>
    </div>
    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Space Launch Now -->
        <ins class="adsbygoogle"
             style="display:block; margin-top:16px; margin-bottom:16px;"
             data-ad-client="ca-pub-9824528399164059"
             data-ad-slot="8772606898"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% include "web/install_buttons.html" %}
{% endblock %}


