*.pyc
*env*/**
env37test/**
data/reddit/settings.json
db.sqlite3.bak
.idea/**
celery.log
celerybeat-schedule
celerybeat.pid
instagram.cache
venv3/get-pip.py
src/log/**
.python-version
bot/.DS_Store
*.DS_Store
*.sqlite3
*.bak
**config.py
.pypirc
k8s/ingress/issuer/secret.yaml
src/xmlrunner/**
**.env
report/
secrets.yaml
