*.pyc
*.iml
django_logs/**
env/**
venv3/**
env3/**
data/reddit/settings.json
db.sqlite3
.idea/**
django.log
celery.log
celerybeat-schedule
bot/utils/config.py
celerybeat.pid
*.log
venv/**
spacelaunchnow/config.py
bot/utils/config.py
assets/**
instagram.cache
venv3/get-pip.py
