django-debug-toolbar
discord
amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
backports.functools-lru-cache==1.5
beautifulsoup4==4.6.0
billiard==3.3.0.23
boto3==1.7.10
botocore==1.10.12
buttercms-python==1.0
caniusepython3==6.0.0
celery==3.1.25
certifi==2018.4.16
chardet==3.0.4
coreapi==2.3.0
coreschema==0.0.4
Collectfast==0.6.2
dict.sorted==1.0.0
distlib==0.2.7
discord.py==0.16.12
Django==1.11.22
django-ads-txt==0.1.0
django-appconf==1.0.2
django-bootstrap4==0.0.8
django-cachalot==2.0.1
django-blog-zinnia==0.19
django-bootstrap-form==3.4
django-celery==3.2.1
django-compat==1.0.14
django-contrib-comments==1.8.0
django-embed-video==1.1.2
django-filter==1.1.0
django-imagekit==4.0.2
django-js-asset==1.1.0
django-mathfilters==0.4.0
django-modelcluster==3.1
django-mptt==0.9.0
django-ical==1.4
django-robots==3.1.0
django-storages==1.6.6
django-silk==3.0.1
django-tagging==0.4.6
django-taggit==0.22.2
django-tz-detect==0.2.10
django-tables2==2.0.6
django-treebeard==4.3
django-user-agents==0.3.2
django-xmlrpc==0.1.8
django_extensions==2.1.9
djangorestframework==3.9.1
djangorestframework-bulk==0.2.1
djangorestframework-queryfields==1.0.0
docutils==0.14
drf-toolbox==0.1.7
funcsigs==1.0.2
futures==3.1.1
google-api-python-client==1.4.1
goose3==3.1.6
gunicorn==19.7.1
html5lib==0.999999999
httplib2==0.11.3
idna==2.6
itypes==1.1.0
Jinja2==2.9.6
jmespath==0.9.3
kombu==3.0.37
Markdown==2.6.11
MarkupSafe==1.0
mock==2.0.0
mots-vides==2015.5.11
newspaper3k==0.2.8
num2words==0.5.4
oauth2client==4.1.2
openapi-codec==1.3.1
packaging==16.8
pbr==4.0.2
pilkit==2.0
Pillow==5.1.0
pinax-blog==7.0.4
pinax-images==3.0.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pyfcm==1.4.5
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2017.2
psycopg2==2.7.5
praw==6.0.0
PyYAML==5.1
regex==2018.2.21
requests==2.20.0
requests-toolbelt==0.8.0
rsa==3.4.2
s3transfer==0.1.13
simplejson==3.10.0
six==1.10.0
sorl-thumbnail==12.5.0
sorl-thumbnail-serializer-field==0.2.1
twitter==1.18.0
tzlocal==1.4
ua-parser==0.7.3
Unidecode==1.0.22
uritemplate==3.0.0
urllib3==1.24.2
user-agents==1.1.0
vine==1.1.3
wagtail==1.13.1
webencodings==0.5.1
Willow==1.0
-e git://github.com/ItsCalebJones/django-jet.git@dev-unicode-fix#egg=django-jet
-e git://github.com/ItsCalebJones/django-rest-framework-docs.git@master#egg=drfdocs
