<div class="card card-blog">
    {% if vehicle.image_url %}
        <div class="card-header card-header-image">
            <img class="img" style="height: 250px; object-fit: cover;"
                 src="{{ vehicle.image_url.url }}">
        </div>
    {% else %}
        <div class="card-header card-header-image">
            <img class="img" style="height: 250px; object-fit: cover;"
                 src="https://x.kinja-static.com/assets/images/logos/placeholders/default.png">
        </div>
    {% endif %}
    <div class="card-body">
        <h2 class="title text-center">{{ vehicle.name }}</h2>
        <hr>
        {% if vehicle.orbit %}
            <span class="badge badge-pill badge-primary">{{ vehicle.orbit }}</span>
        {% endif %}
        {% if vehicle.type %}
            <span class="badge badge-pill badge-success">{{ vehicle.type }}</span>
        {% endif %}
        {% if vehicle.founded %}
            <span class="badge badge-pill badge-info">Founded: {{ vehicle.founded }}</span>
        {% endif %}
        {% if vehicle.mass %}
            <span class="badge badge-pill badge-danger">Mass: {{ vehicle.mass }}T</span>
        {% endif %}
        {% if vehicle.volume %}
            <span class="badge badge-pill badge-danger">Volume: {{ vehicle.volume }} m³</span>
        {% endif %}
        <h4 class="card-category text-info">Details</h4>
        <h5>Status - {{ vehicle.status|title }}</h5>
        <p class="card-text" style="height:6em;">{{ vehicle.description|truncatewords:60 }} </p>
        <div class="text-left">
            <a class="btn btn-primary" href="/vehicle/spacestation/{{ vehicle.id }}">Explore</a>
        </div>
    </div>
</div>