{% extends "web/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <link rel="canonical" href="https://spacelaunchnow.me/launch/">
    <title>Space Launch Now - Launch Schedule</title>
    <meta name="title" content="Space Launch Now - Launch Schedule">
    <meta property="fb:app_id" content="746774215504127"/>
    <meta property="og:title" content="Space Launch Now - About"/>
    <meta property="og:type" content="website"/>
    <meta name="description"
          content="A spaceflight launch schedule - tracking the latest developments in spaceflight, check back often for launch schedule changes.">
    <meta property="og:description"
          content="A spaceflight launch schedule - tracking the latest developments in spaceflight, check back often for launch schedule changes."/>
    <meta property="og:url" content="https://spacelaunchnow.me/launch/"/>
    <meta property="og:image" content="https://spacelaunchnow.me/static/img/header.jpg"/>
    <meta property="og:image:width" content="3000"/>
    <meta property="og:image:height" content="2000"/>
{% endblock %}


{% block navigation %}
    {% include "web/navigation.html" %}
{% endblock %}

{% block content %}
    {% load embed_video_tags %}
    <!-- Page Content -->
    <div class="container" style="margin-top:100px; margin-bottom: 16px">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="/about/">About</li>
            </ol>
        </nav>
        <h1 class="title">About Us</h1>
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-9 col-md-12 col-xl-9">
                <h4>Meet <b>Space Launch Now</b> the best space launch schedule for keeping up to date on all
                    of your favorite rocket
                    launches from around the world. Get updates and notifications for rocket launches from
                    SpaceX, NASA, ULA,
                    ROSCOSMOS, ISRO, and many more!</h4>
                <hr>
                <p>
                <h3>History</h3>
                Space Launch Now started as a weekend project in 2016 for Caleb Jones as none of the current Android
                apps for Launch Library were still maintained.
                After several weeks of development and a few posts to Reddit and Facebook a small but strong community
                started to build of spaceflight enthusiast.
                We now have several active staff members and a small team of volunteer librarians and translators
                helping to bring the most accurate spaceflight
                data to phones, tablets and computers around the world.<br>
                <hr>
                <h3>Staff</h3>
                After nearly three years, Space Launch Now now has a small core team of staff members that help support
                translations, librarians and the public data that is available to developers around the world.
                <h4>Librarians</h4>
                Volunteer members of the Space Launch Now community that assists in ensuring Space Launch Now’s database
                of launchers, launches, agencies, and missions stays at a high level of quality.
                <h4>Translators</h4>
                Help bring Space Launch Now to people across the globe by helping translate the launch data into your
                preferred language.<br>
                <a class="btn btn-primary btn-raised" href="/about/staff/">Meet the Staff</a>
                <hr>
                <h3>Technology</h3>
                All of Space Launch Now's code is publicly hosted and freely licensed on GitHub. The server hosting the
                website, discord, public API, and Twitter bots is a Django app running on the Digital Ocean platform.
                For Android, it is a fully native Java/Kotlin application that sources most of its data from the Space
                Launch Now server. On iOS for now it is built using the Flutter framework which is technically cross
                platform.<br>
                </p>

            </div>
            <br>

            <!-- Sidebar Widgets Column -->
            <div class="col-lg-3 col-md-12 col-xl-3">
                {% include "web/sidebar_launches_only.html" %}
            </div>
        </div>
    </div>
    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Space Launch Now -->
        <ins class="adsbygoogle"
             style="display:block; margin-top:16px; margin-bottom:16px;"
             data-ad-client="ca-pub-9824528399164059"
             data-ad-slot="8772606898"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% include "web/install_buttons.html" %}
{% endblock %}


