{% load thumbnail %}
{% load static %}

<div class="card text-left" style="margin-top: 75px">
    <div class="card-header {% if 'GO' in launch.status.full_name %} card-header-success {% elif 'TBD' in launch.status.full_name %} card-header-danger {% else %} card-header-info {% endif %} p-2">
        <div class="row">
            <div class="col-md-4 text-center" style="height: 150px">
                {% if launch.image %}
                    <img class="img-raised rounded-circle img-fluid text-center"
                         src="{{ launch.image.image.url }}"
                         style="overflow: hidden;width: 150px;height: 150px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                {% elif launch.rocket.configuration.image %}
                    <img class="img-raised rounded-circle img-fluid text-center"
                         src="{{ launch.rocket.configuration.image.image.url }}"
                         style="overflow: hidden;width: 150px;height: 150px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                {% else %}
                    <img class="img-raised rounded-circle img-fluid text-center"
                         src="{% static "img/placeholder.jpg" %}"
                         style="overflow: hidden;width: 150px;height: 150px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                {% endif %}
            </div>
            <div class="col-md-8 text-md-left text-center">
                <h4 class="card-title">{{ launch.name }}</h4>
                {{ launch.rocket.configuration.manufacturer.name }}
                | {{ launch.rocket.configuration.manufacturer.country.first.name }}<br>
                {{ launch.pad.location.name }}<br>
                {% if launch.status.id == 8 %}
                    <i>{{ launch.net|date:"F d, Y"}}</i><br>
                {% elif launch.status.id == 2 %}
                    <i>TBD {{ launch.net|date:"F, Y"}}</i><br>
                {% else %}
                    <i>{{ launch.net}}</i><br>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body mx-5">
        {% if launch.status %}
            <h5 class="card-text"><b>Status: </b>{{ launch.status.full_name }}</h5>
        {% endif %}
        {% if launch.mission %}
            <h5 class="card-text"><b>Mission: </b>{{ launch.mission.type_name }}</h5>
            <p class="card-text">{{ launch.mission.description }}</p>
        {% else %}
            <h5 class="card-text">Unknown Mission</h5>
            <p class="card-text">There are no mission or payload details available for
                this
                launch.</p>
        {% endif %}
        <span class="badge badge-pill badge-success">{{ launch.mission.orbit.name }}</span>
        {% if launch.hashtag %}
            <span class="badge badge-pill badge-primary">{{ launch.hashtag }}</span>
        {% endif %}
        {% if launch.rocket.firststage.all|length > 0 %}
            {% for stage in launch.rocket.firststage.all %}
                {% if stage.landing.landing_location %}
                    <span class="badge badge-pill badge-info"> {{ stage.launcher.serial_number }} - {{ stage.reused|yesno:"Flight Proven,Maiden Flight" }}
                        {% if stage.reused %}({{ stage.launcher.previous_flights }}
                            ) {% endif %}</span>
                    <span class="badge badge-pill badge-primary">{{ stage.landing.landing_location.name }}</span>
                {% endif %}
            {% endfor %}
        {% endif %}
        <hr/>
        <row>
            <a class="btn btn-primary" href="/launch/{{ launch.slug }}">Explore</a>
            <a data-site class="btn btn-danger"
               href="http://www.facebook.com/sharer.php?u=https://spacelaunchnow.me/launch/{{ launch.slug }}"
               target="_blank">Share</a>
        </row>
    </div>
</div>