{% load staticfiles %}
{% load user_agents %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block ga %}
        {% if use_google_analytics %}
            {% include "web/snippets/google_analytics.html" with ga_tracking_id=ga_tracking_id %}
        {% endif %}
    {% endblock ga %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Space Launch Now</title>

    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="{% static  'material_kit/css/material-kit.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static  'compiled/flipclock.css' %}">
    <script src="{% static  'compiled/flipclock.js' %}"></script>
    {% block extrahead %}
    {% endblock %}
</head>

<body id="page-top">

{% block navigation %}
{% endblock %}

{% block content %}
{% endblock %}


<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                <div class="logo">
                    <img style='width:80%;' alt='Get it on Google Play'
                         src="{% static  'img/ic_launcher.png' %}"/></a>
                </div>

            </div>
            <div class="col-sm-2">
                <h5>About Me</h5>
                <ul>
                    <li><a href="http://calebjones.me/">Blog</a></li>
                    <li><a href="https://twitter.com/koun7erfit">Twitter</a></li>
                    <li><a href="https://go.twitch.tv/koun7erfit">Twitch</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Other</h5>
                <ul>
                    <li><a href="https://play.google.com/store/apps/dev?id=7111684947714289915">Apps</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=me.calebjones.pubgtracker">PUBG Stat Tracker</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=me.calebjones.blogsite">The Jones Theory</a></li>

                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>

                    <li><a href="https://www.reddit.com/r/spacelaunchnow/">Reddit</a></li>
                    <li><a href="mailto:support@calebjones.me">Email</a></li>
                    <li><a href="https://discord.gg/chaQsQW">LL - Discord</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="https://twitter.com/SpaceLaunchNow" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/spacelaunchnow/" class="facebook"><i
                            class="fa fa-facebook"></i></a>
                    <a href="https://www.reddit.com/r/spacelaunchnow/" class="reddit"><i class="fa fa-reddit"></i></a>
                    <a href="https://www.reddit.com/r/spacelaunchnow/" class="github"><i class="fa fa-github"></i></a>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2017 Copyright | Powered by <a href="https://launchlibrary.net/docs/1.2.1/api.html">Launch
            Library</a></p>
    </div>
</footer>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <!--   Core JS Files   -->
  <script src="{% static 'material_kit/js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'material_kit/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'material_kit/js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'material_kit/js/plugins/moment.min.js' %}"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="{% static 'material_kit/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'material_kit/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'material_kit/js/material-kit.js?v=2.0.3' %}" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      //init DateTimePickers
      materialKit.initFormExtendedDatetimepickers();

      // Sliders Init
      materialKit.initSliders();
    });


    function scrollToDownload() {
      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>

</body>

</html>

