{% load staticfiles %}
{% load user_agents %}
{% load tz %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block ga %}
        {% if use_google_analytics %}
            {% include "web/snippets/google_analytics.html" with ga_tracking_id=ga_tracking_id %}
        {% endif %}
    {% endblock ga %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Caleb Jones">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <!--     Fonts and icons     -->
    <link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">





    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static  'material_kit/css/material-kit.min.css' %}"  >
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="{% static  'material_kit/css/spacelaunchnow.min.css' %}" >


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% block extrahead %}
    {% endblock %}
</head>

<body class="index-page sidebar-collapse" id="page-top">

{% block navigation %}
{% endblock %}

{% block content %}
{% endblock %}
<!--  End Modal -->
<footer class="footer" data-background-color="black">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="/about">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/site/privacy">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="/site/tos">
                        Terms of Use
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/spacelaunchnow/" class="facebook"><i
                            class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/spacelaunchnow/" class="twitter"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://discord.gg/WVfzEDW" class="twitter"><i class="fab fa-discord"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/SpaceLaunchNow" class="twitter"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://github.com/itscalebjones" class="twitter"><i class="fab fa-github"></i></a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            <p>© 2017 Copyright | Powered by <a href="https://launchlibrary.net">Launch
                Library</a></p>
        </div>
    </div>
</footer>

<!--   Core JS Files   -->
<script src="{% static 'material_kit/js/core/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material_kit/js/core/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material_kit/js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
<script src="{% static 'material_kit/js/plugins/moment.min.js' %}"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{% static 'material_kit/js/plugins/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'material_kit/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'material_kit/js/material-kit.min.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        //init DateTimePickers
        materialKit.initFormExtendedDatetimepickers();

        // Sliders Init
        materialKit.initSliders();
    });


    function scrollToDownload() {
        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }


</script>
</body>
</html>

