{% load staticfiles %}
<div class="call-to-action bg-dark">
    <div class="container text-center">
        <div class="row text-center my-5 py-5">
                <div class="col-md-6 mb-3 text-center">
                <a href='https://play.google.com/store/apps/details?id=me.calebjones.spacelaunchnow&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img alt='Get it on Google Play'
                         src="{% static 'img/button/google.png' %}"/></a>
                </div>
                <div class="col-md-6 mb-3 text-center">
                <a href='https://itunes.apple.com/us/app/space-launch-now/id1399715731'>
                    <img alt='Get it on the App Store'
                         src="{% static 'img/button/apple.png' %}"/></a>
                </div>
        </div>
    </div>
</div>