{% extends "web/base.html" %}
{% load staticfiles %}

{% block extrahead %}
<meta property="fb:app_id" content="746774215504127"/>
<meta property="og:title" content="Space Launch Now - Upcoming Launches"/>
<meta property="og:type" content="website"/>
<meta property="og:description"
      content="Meet Space Launch Now the best resource for keeping up to date on all of your favorite spaceflight missions from around the world."/>
<meta property="og:url" content="https://spacelaunchnow.me/launch/"/>
<meta property="og:image" content="https://spacelaunchnow.me/static/img/header.jpg"/>
<meta property="og:image:width" content="3000"/>
<meta property="og:image:height" content="2000"/>
<script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9824528399164059",
            enable_page_level_ads: true
        });











</script>
{% endblock %}


{% block navigation %}
<nav class="navbar bg-primary fixed-top navbar-expand-lg">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#page-top"><b>Space Launch Now</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger " href="/next">Next</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="/launch/">Launches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/3.2.0">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://play.google.com/store/apps/details?id=me.calebjones.spacelaunchnow&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><i
                            class="fab fa-android"></i> Android</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://itunes.apple.com/us/app/space-launch-now/id1399715731"><i
                            class="fab fa-apple"></i> iOS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
{% load embed_video_tags %}
<!-- Page Content -->
<div class="container" style="margin-top:100px; margin-bottom: 16px">
    <h1 class="title">Upcoming Spaceflight Launches</h1>
    <h2>Filter for the launches you care about.</h2>
    <hr>
    <div class="row">
        <div class="container" style="margin-bottom: 10px">
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="/launch"
               class="btn btn-round {% if query %} btn-link{% else %} btn-primary {% endif %}">All</a>
            <a href="?q=spx"
               class="btn btn-round {% if query == 'spx' %} btn-primary{% else %} btn-link {% endif %}">SpaceX</a>
            <a href="?q=ula"
               class="btn btn-round {% if query == 'ula' %} btn-primary{% else %} btn-link {% endif %}">ULA</a>
            <a href="?q=NASA"
               class="btn btn-round {% if query == 'NASA' %} btn-primary{% else %} btn-link {% endif %}">NASA</a>
            <a href="?q=RFSA"
               class="btn btn-round {% if query == 'RFSA' %} btn-primary{% else %} btn-link {% endif %}">ROSCOSMOS</a>
            <a href="?q=ASA"
               class="btn btn-round {% if query == 'ASA' %} btn-primary{% else %} btn-link {% endif %}">Arianespace</a>
            <a href="?q=CASC"
               class="btn btn-round {% if query == 'CASC' %} btn-primary{% else %} btn-link {% endif %}">CASC</a>
            <a href="?q=ISRO"
               class="btn btn-round {% if query == 'ISRO' %} btn-primary{% else %} btn-link {% endif %}">ISRO</a>
        </div>
    </div>
    <hr>

    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Space Launch Now -->
        <ins class="adsbygoogle"
             style="display:block; margin-top:16px; margin-bottom:16px;"
             data-ad-client="ca-pub-9824528399164059"
             data-ad-slot="8772606898"
             data-ad-format="auto"></ins>
        <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8 col-md-12 col-xl-8">
            {% if launches|length > 0 %}
            {% for launch in launches %}
            <div class="card text-left">
                <div class="media">
                    <a class="relative" href="/launch/{{ launch.slug }}">
                        <img class="card-img"
                             src="https://maps.googleapis.com/maps/api/staticmap?center={{ launch.location.name }}&scale=2&zoom=7&size=720x300&maptype=roadmap&key=AIzaSyBkjvMIaP-KQrHWJ_aFndxsNS7KbDPu9Zw&markers=color:red%|{{ launch.pad.location.name }}"
                             alt="">

                    </a>
                </div>
                <div class="card-header card-header-info">
                    {% if launch.rocket.configuration.image_url %}
                    <img class="img-raised rounded-circle img-fluid text-center"
                         src="{{ launch.rocket.configuration.image_url.url }}"
                         style="max-width: 35%;overflow: hidden;margin: -100px 0 0 0;width: 150px;height: 150px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                    {% elif launch.rocket.configuration.launch_agency.image_url %}
                    <img class="img-raised rounded-circle img-fluid text-center"
                         src="{{ launch.rocket.configuration.launch_agency.image_url.url }}"
                         style="max-width: 35%;overflow: hidden;margin: -100px 0 0 0;width: 150px;height: 150px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                    {% else %}
                    <img class="img-raised rounded-circle img-fluid text-center"
                         src="https://x.kinja-static.com/assets/images/logos/placeholders/default.png"
                         style="max-width: 35%;overflow: hidden;margin: -100px 0 0 0;width: 150px;height: 150px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                    {% endif %}
                    <h4 class="card-title">{{ launch.name }}</h4>
                    {{ launch.rocket.configuration.launch_agency.name }} | {{ launch.rocket.configuration.launch_agency.country_code }}<br>
                    {% if launch.hashtag %}
                    {{ launch.hashtag }}<br>
                    {% endif %}
                    <i>{{ launch.net }}</i><br>
                </div>
                <div class="card-body">
                    {% if launch.mission %}
                    <h5 class="card-text">{{ launch.mission.type_name }}</h5>
                    <p class="card-text">{{ launch.mission.description }}</p>
                    {% else %}
                    <h5 class="card-text">Unknown Mission</h5>
                    <p class="card-text">There are no mission or payload details available for this
                        launch.</p>
                    {% endif %}
                    <hr/>
                    <row>
                        <a class="btn btn-primary" href="/launch/{{ launch.slug }}">Explore</a>
                        <!--<a class="btn btn-danger" href="/launch/{{ launch.id}}">Share</a>-->
                    </row>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-lg-4 col-md-12 col-xl-4">
            <!-- Categories Widget -->
            <div class="card">
                <div class="card-header card-header-danger">Recent Launches
                </div>
                <div class="list-group list-group-flush">
                    {% for launch in previous_launches %}
                    <a href="{{ launch.slug }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <div>
                                <h5 class="mb-1">{{ launch.rocket.configuration.name }}</h5>
                                <h6 class="mb-1">{{ launch.mission.name }} - {{ launch.status_name }}</h6>
                            </div>
                            <small class="text-muted">{{ launch.net|timesince }}</small>
                        </div>
                        <p class="mb-1">{{ launch.mission.description }}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="card" style="height: 1500px;">
                <a class="twitter-timeline" data-height="1500" data-link-color="#981CEB"
                   href="https://twitter.com/SpaceLaunchNow/lists/space-launch-news?ref_src=twsrc%5Etfw">Space
                    Launch
                    News</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Space Launch Now -->
            <ins class="adsbygoogle"
                 style="display:block;"
                 data-ad-client="ca-pub-9824528399164059"
                 data-ad-slot="8772606898"
                 data-ad-format="auto"></ins>
            <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});

            </script>
            <br>
            <iframe src="https://discordapp.com/widget?id=380226438584074242&theme=dark"
                    width="100%" height="500"
                    allowtransparency="true"
                    frameborder="0"></iframe>
        </div>
    </div>
</div>
<div class="container">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Space Launch Now -->
    <ins class="adsbygoogle"
         style="display:block; margin-top:16px; margin-bottom:16px;"
         data-ad-client="ca-pub-9824528399164059"
         data-ad-slot="8772606898"
         data-ad-format="auto"></ins>
    <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
{% include "web/install_buttons.html" %}
{% endblock %}


