{% extends "web/base.html" %}
{% load staticfiles%}
{% load user_agents %}
{% load embed_video_tags %}
{% block extrahead %}
<meta property="fb:app_id" content="746774215504127"/>
<meta property="og:title" content="{{ launch.name}} - {{launch.mission_set.0.name}}"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="{{ launch.mission_description }}"/>
<meta property="og:url" content="https://spacelaunchnow.me/launch/{{launch.id}}/"/>
{% if launch.img_url %}
<meta property="og:image" content="{{ launch.img_url }}"/>
{% else %}
<meta property="og:image" content="https://spacelaunchnow.me/static/img/header.jpg"/>
<meta property="og:image:width" content="3000"/>
<meta property="og:image:height" content="2000"/>
{% endif %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9824528399164059",
    enable_page_level_ads: true
  });

</script>
{% endblock %}
{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink-alt" id="indexNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Space Launch Now</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active js-scroll-trigger active" href="/next">Next</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/launch/">Launches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link twitter" href="https://twitter.com/SpaceLaunchNow"><i class="fa fa-twitter"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/v1">API</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="margin-top:64px;margin-bottom: 16px">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Space Launch Now -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9824528399164059"
         data-ad-slot="8772606898"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});

    </script>
</div>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/launch/">Launches</a></li>
        <li class="breadcrumb-item active"><a>{{ launch.mission_set.all.0.name}}</a></li>
    </ol>
    <div class="jumbotron jumbotron-billboard">
        {% if launch.img_url %}
        <div class="img" style="background: #000 url({{ launch.img_url }}) center center;"></div>
        {% else %}
        <div class="img"></div>
        {% endif %}
        <div class="container">
            <h1>{{ launch.mission_set.all.0.name }}</h1>
            {% if launch.rocket_set.all.0.agency_set.all.0.name  %}
            <h2 class="subheading">{{ launch.rocket_set.all.0.agency_set.all.0.name }} - {{ launch.rocket_set.all.0.name }}</h2>
            {% else %}
            <h2 class="subheading">{{ launch.lsp_set.all.0.name }} - {{ launch.rocket_set.all.0.name }}</h2>
            {% endif %}
            <span class="meta">NET: {{ launch.net }}</span>
            {% if not request|is_mobile %}
            <div class="countdown" style="margin-top:10em;"></div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Page Content -->
<div class="container">

    <div class="row">


        <!-- Post Content Column -->
        <div class="col-lg-8">
            {% with mission=launch.mission_set.all.0%}
            <h2>Mission
                <small>{{ mission.name }}</small>
            </h2>
            <!-- Post Content -->
            <p class="lead">Type: {{ mission.type_name }}</p>

            <p>{{ mission.description}}</p>
            <hr>

            {% endwith %}

            <!-- Date/Time -->
            <h3>Launch Window</h3>

            <p>Open: {{ launch.window_start}}</p>

            <p>Close: {{ launch.window_end }}</p>

            <hr>

            <h2 class="mt-4">Watch the Launch</h2>
            <!-- Title -->
            {% if youtube_urls|length > 0 %}
            {% for url in youtube_urls %}
            {% video url as my_video %}
            {% if request|is_mobile %}
                {% video my_video '85% x 25%' %}
            {% else %}
                {% video my_video 'medium' %}
            {% endif %}

            {% endvideo %}
            {% endfor %}
            {% else %}
            <p>Check back later for live embedded streams.</p>
            {% endif %}
            {% if launch.vid_urls.count > 0 %}
            <h4>Links</h4>
            {% for url in launch.vid_urls.all %}
            <a href="{{url.vid_url}}">{{url.vid_url}}</a><br>
            {% endfor %}
            {% endif %}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <div class="container">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Space Launch Now -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-9824528399164059"
                     data-ad-slot="8772606898"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});

                </script>
            </div>
            <!-- Categories Widget -->
            <div class="card my-2">
                <a class="twitter-timeline"
                   href="https://twitter.com/SpaceLaunchNow?ref_src=twsrc%5Etfw"
                   data-tweet-limit="5"
                   data-show-replies="true"
                        >Tweets by
                    SpaceLaunchNow</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="container" style="margin-top:16px;margin-bottom: 16px">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Space Launch Now -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9824528399164059"
         data-ad-slot="8772606898"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});

    </script>
</div>
<div class="call-to-action bg-dark">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <a href='https://play.google.com/store/apps/details?id=me.calebjones.spacelaunchnow&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img style='width:80%;' alt='Get it on Google Play'
                         src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var clock;

    // Grab the current date
    var currentDate = new Date();

    // Set some date in the past. In this case, it's always been since Jan 1
    var futureDate = new Date("{{ launch.net }}");

    // Calculate the difference in seconds between the future and current date
    var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

    // Instantiate a coutdown FlipClock
    clock = $('.countdown').FlipClock(diff, {
        clockFace: 'DailyCounter',
        countdown: true
    });


</script>
{% endblock %}

