<!-- Categories Widget -->
<div class="card">
    <div class="card-header card-header-danger">Recent Launches
    </div>
    <div class="list-group list-group-flush">
        {% for launch in previous_launches %}
            <a href="{{ launch.slug }}"
               class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">

                    <div class="my-auto">
                        <h5>{{ launch.rocket.configuration.name }}</h5>
                    </div>
                    <div class="my-auto">
                        <small class="text-muted text-center">{{ launch.net|timesince }}</small>
                    </div>
                </div>
                <h6 class="mb-1">{{ launch.mission.name }} - {{ launch.status.name }}</h6>
                <p class="mb-1">{{ launch.mission.description|truncatechars:200 }}</p>
            </a>
        {% endfor %}
    </div>
</div>