<!-- Categories Widget -->
<div class="card">
    <div class="card-header card-header-danger">Recent Launches</div>
    <div class="list-group list-group-flush">
        {% for launch in previous_launches %}
            <a href="{{ launch.slug }}"
               class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">

                    <div class="my-auto">
                        <h5>{{ launch.rocket.configuration.name }}</h5>
                    </div>
                    <div class="my-auto">
                        <small class="text-muted text-center">{{ launch.net|timesince }}</small>
                    </div>
                </div>
                <h6 class="mb-1">{{ launch.mission.name }} - {{ launch.status.name }}</h6>
                <p class="mb-1">{{ launch.mission.description|truncatechars:200 }}</p>
            </a>
        {% endfor %}
    </div>
</div>
<div class="card" style="height: 1500px;">
    <a class="twitter-timeline" data-height="1500" data-link-color="#981CEB"
       href="https://twitter.com/SpaceLaunchNow/lists/space-launch-news?ref_src=twsrc%5Etfw">Space
        Launch
        News</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Space Launch Now -->
<ins class="adsbygoogle"
     style="display:block;"
     data-ad-client="ca-pub-9824528399164059"
     data-ad-slot="8772606898"
     data-ad-format="auto"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});

</script>
<br>
<iframe src="https://discordapp.com/widget?id=380226438584074242&theme=dark"
        width="100%" height="500"
        allowtransparency="true"
        frameborder="0"></iframe>