{% extends "web/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load mathfilters %}
{% block extrahead %}
    <link rel="canonical" href="https://spacelaunchnow.me/spacestation/">
    <title>Space Launch Now - Space Stations</title>
    <meta name="title" content="Space Launch Now - Space Stations">
    <meta property="fb:app_id" content="746774215504127"/>
    <meta property="og:title" content="Space Launch Now - Space Stations"/>
    <meta property="og:type" content="website"/>
    <meta name="description"
          content="A tracker for space stations.">
    <meta property="og:description"
          content="A tracker for space stations."/>
    <meta property="og:url" content="https://spacelaunchnow.me/vehicle/spacestation"/>
    <meta property="og:image" content="{% static  'img/social.png' %}"/>
    <meta property="og:image:width" content="3000"/>
    <meta property="og:image:height" content="2000"/>

    <meta name="robots" content="index, follow"/>

    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="Space Launch Now"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Space Launch Now - Space Stations">
    <meta name="twitter:description" content="A tracker for space stations.">
    <meta name="twitter:image" content="{% static  'img/social.png' %}"/>
    <meta name="twitter:site" content="@SpaceLaunchNow">
    <meta name="twitter:creator" content="@SpaceLaunchNow">

{% endblock %}


{% block navigation %}
    {% include "web/navigation.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/vehicle">Vehicles</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Space Stations</li>
                </ol>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">Space Stations</h1>
                    <h2>How we live and work in space!</h2>
                    <hr>
                </div>
            </div>
            <!-- Web - Horizontal -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9824528399164059"
                 data-ad-slot="6503993784"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xl-12 mx-auto text-center">
                <div class="row">
                    {% if spacestations|length > 0 %}
                        {% for vehicle in spacestations %}
                            <div class="col-sm-6">
                                {% include 'web/views/small_space_station.html' with vehicle=vehicle %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="text-center mx-auto">
                        <nav aria-label="...">
                            {% if vehicles.has_other_pages %}
                                <ul class="pagination">
                                    {% if vehicles.has_previous %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?status={{ status }}&page={{ vehicles.previous_page_number }}&nationality={{ nationality }}">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><span>Previous</span></li>
                                    {% endif %}
                                    {% if vehicles.number > 1 %}
                                        <li class="page-item">
                                        <a class="page-link"
                                           href="?status={{ status }}&page=1&nationality={{ nationality }}">First</a>
                                    {% endif %}
                                    {% for i in vehicles.paginator.page_range %}
                                        {% if forloop.counter|sub:vehicles.number >= -5 and forloop.counter|sub:vehicles.number <= 5 %}
                                            {% if vehicles.number == i %}
                                                <li class="page-item active"><span class="page-link">{{ i }} <span
                                                        class="sr-only">(current)</span></span>
                                                </li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="?status={{ status }}&page={{ i }}&nationality={{ nationality }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if vehicles.has_next %}
                                        {% if vehicles.paginator.count >= 10 %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?status={{ status }}&page={{ vehicles.paginator.count }}&nationality={{ nationality }}">Last</a>
                                        {% endif %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?status={{ status }}&page={{ vehicles.next_page_number }}&nationality={{ nationality }}">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Space Launch Now -->
        <ins class="adsbygoogle"
             style="display:block; margin-top:16px; margin-bottom:16px;"
             data-ad-client="ca-pub-9824528399164059"
             data-ad-slot="8772606898"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% include "web/install_buttons.html" %}
{% endblock content %}