{% extends "web/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load humanize %}
{% block extrahead %}
    <link rel="canonical" href="https://spacelaunchnow.me/vehicle/spacestation/{{ vehicle.id }}">
    <title>Space Launch Now - {{ vehicle.name }}</title>
    <meta name="title" content="Space Launch Now - {{ vehicle.name }}">
    <meta property="fb:app_id" content="746774215504127"/>
    <meta property="og:title" content="Space Launch Now - {{ vehicle.name }}"/>
    <meta property="og:type" content="website"/>
    <meta name="description"
          content="{{ vehicle.name }} - {{ vehicle.description|truncatechars:100 }}">
    <meta property="og:description"
          content="{{ vehicle.name }} - {{ vehicle.description|truncatechars:100 }}">
    <meta property="og:url" content="https://spacelaunchnow.me/vehicle/spacestation/{{ vehicle.id }}"/>
    {% if vehicle.image_url %}
        <meta property="og:image" content="{{ vehicle.image_url.url }}"/>
    {% else %}
        <meta property="og:image" content="https://spacelaunchnow.me/static/img/social.png"/>
        <meta property="og:image:width" content="3000"/>
        <meta property="og:image:height" content="2000"/>
    {% endif %}

    <meta name="robots" content="index, follow"/>

    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Space Launch Now"/>

    <meta name="twitter:title" content="Space Launch Now - {{ vehicle.name }}">
    <meta name="twitter:description" content="{{ vehicle.description|truncatechars:100 }}">
        {% if vehicle.image_url %}
        <meta property="twitter:image" content="{{ vehicle.image_url.url }}"/>
    {% else %}
        <meta property="twitter:image" content="https://spacelaunchnow.me/static/img/social.png"/>
    {% endif %}
    <meta name="twitter:site" content="@SpaceLaunchNow">
    <meta name="twitter:creator" content="@SpaceLaunchNow">

{% endblock %}


{% block navigation %}
    {% include "web/navigation.html" %}
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container" style="margin-top:100px; margin-bottom: 16px">
        <div class="row">
            <div class="container">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Web - Horizontal -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-9824528399164059"
                     data-ad-slot="6503993784"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <!-- Post Content Column -->
            <div class="col-lg-9 col-md-12 col-xl-9">
                <div class="card card-blog">
                    {% if vehicle.image_url %}
                        <div class="card-header card-header-image">
                            <img class="img"
                                 src="{{ vehicle.image_url.url }}">
                        </div>
                    {% else %}
                        <div class="card-header card-header-image">
                            <img class="img"
                                 src="https://x.kinja-static.com/assets/images/logos/placeholders/default.png">
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h2 class="title text-center">{{ vehicle.name }}</h2>
                        <hr>
                        <div class="text-center">
                            {% if vehicle.orbit %}
                                <span class="badge badge-pill badge-primary">{{ vehicle.orbit }}</span>
                            {% endif %}
                            {% if vehicle.type %}
                                <span class="badge badge-pill badge-success">{{ vehicle.type }}</span>
                            {% endif %}
                            {% if vehicle.founded %}
                                <span class="badge badge-pill badge-info">Founded: {{ vehicle.founded }}</span>
                            {% endif %}
                            {% if vehicle.mass %}
                                <span class="badge badge-pill badge-danger">Mass: {{ vehicle.mass }} T</span>
                            {% endif %}
                            {% if vehicle.volume %}
                                <span class="badge badge-pill badge-danger">Volume: {{ vehicle.volume }}m^3</span>
                            {% endif %}
                        </div>
                        <h5 class="title text-muted text-center">Status - {{ vehicle.status|title }}</h5>
                        <h6 class="card-category text-info text-center">Details</h6>
                        <p class="card-text">{{ vehicle.description }} </p>
                        {% if vehicle.id == 4 %}
                            <div class="col-md-12 text-center">
                                <h3 class="title text-center">Live ISS Tracking</h3><br>
                                <hr>
                                <iframe src="https://isstracker.spaceflight.esa.int/"
                                        style="border: 0 none transparent; "
                                        id="iss-pos" width="625" height="575" frameborder="0" scrolling="no"
                                        allowfullscreen="" title="ESU ISS tracking map">ESA ISS tracking map
                                </iframe>
                            </div>
                            <div class="col-md-12 text-center">
                                <iframe width="625" height="325" src="https://ustream.tv/embed/9408562" scrolling="no"
                                        allowfullscreen webkitallowfullscreen frameborder="0"
                                        style="border: 0 none transparent;"></iframe>
                                <p class="caption">A dark screen may mean the ISS is on the dark side of the Earth.</p>
                            </div>
                        {% endif %}

                        {% for expedition in vehicle.active_expeditions.all %}
                            {% if expedition.crew.all|length > 0 %}
                                <h3 class="title text-center">{{ expedition.name }}</h3><br>
                                <hr>
                                <div class="row">
                                    {% for crew in expedition.crew.all %}
                                        <div class="col-md-4">
                                            <div class="card card-profile card-plain">
                                                <div class="card-header card-avatar">
                                                    {% if crew.astronaut.profile_image %}
                                                        {% thumbnail crew.astronaut.profile_image "300x300" crop="80% top" as im %}
                                                            <img class="img-raised rounded-circle img-fluid text-center"
                                                                 src="{{ im.url }}"
                                                                 style="padding:1px;border:1px solid #cccccc;max-height: 200px;max-width: 200px">
                                                        {% endthumbnail %}
                                                    {% else %}
                                                        <img class="img-raised rounded-circle img-fluid"
                                                             src="https://x.kinja-static.com/assets/images/logos/placeholders/default.png">
                                                    {% endif %}
                                                </div>
                                                <div class="card-body ">
                                                    <h4 class="card-title">{{ crew.astronaut.name }}</h4>
                                                    <h6 class="card-category text-muted">{{ crew.role }}</h6>
                                                    <h6 class="card-category text-muted">{{ crew.agency.name }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if vehicle.docked_vehicles.all|length > 0 %}
                            <h3 class="title text-center">Docked Vehicles</h3><br>
                            <hr>
                            <div class="row">
                                {% for docked in vehicle.docked_vehicles.all %}
                                    <div class="col-md-6 text-center" style="margin-bottom: 20px">
                                        <div class="info">
                                            {% if docked.spacecraft.spacecraft_config.image_url %}
                                                <div class="card-header card-header-image">
                                                    <img class="img"
                                                         src="{{ docked.spacecraft.spacecraft_config.image_url.url }}">
                                                </div>
                                            {% endif %}
                                            <div class="info-body">
                                                <h4 class="info-title">{{ docked.spacecraft.name }}</h4>
                                                <h6 class="info-subtitle mb-2 text-muted">{{ docked.spacecraft.name }}</h6>
                                                <h6 class="info-subtitle mb-2 text-muted">{{ docked.docking_event.0.docking_location }}</h6>
                                                {% if docked.docking_events.all|length > 0 %}
                                                    {% if docked.docking_events.all.first.docking_location %}
                                                        <span class="badge badge-pill badge-success">{{ docked.docking_events.all.first.docking_location }}</span>
                                                    {% endif %}
                                                {% endif %}
                                                {% if docked.spacecraft.serial_number %}
                                                    <span class="badge badge-pill badge-primary">{{ docked.spacecraft.serial_number }}</span>
                                                {% endif %}
                                                {% if docked.spacecraft.status.name %}
                                                    <span class="badge badge-pill badge-info">{{ docked.spacecraft.status.name }}</span>
                                                {% endif %}
                                                <p class="info-text">{{ docked.spacecraft.description }}</p>
                                                <row>
                                                    <a class="btn btn-primary"
                                                       href="/launch/{{ docked.launch.slug }}">View Launch</a>
                                                </row>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if vehicle.owners.all|length > 0 %}
                            <h3 class="title text-center">Agencies</h3>
                            <hr>
                            <div class="row">
                                {% for owner in vehicle.owners.all %}
                                    <div class="col-lg-8 col-md-12 text-center mx-auto" style="margin-bottom: 20px">
                                        {% if owner.nation_url %}
                                            {% thumbnail owner.nation_url "100x100" as im %}
                                                <img class="img-raised rounded-circle img-fluid text-center"
                                                     src="{{ im.url }}"
                                                     style="overflow: hidden;width: 100px;height: 100px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                                            {% endthumbnail %}
                                        {% endif %}
                                        <h4 class="info-title">{{ owner.name }}</h4>
                                        <h6 class="info-subtitle mb-2 text-muted">{{ owner.type }}</h6>
                                        <h6 class="info-subtitle mb-2 text-muted">{{ owner.administrator }}</h6>
                                        {% if owner.abbrev %}
                                            <span class="badge badge-pill badge-primary">{{ owner.abbrev }}</span>
                                        {% endif %}
                                        {% if owner.founding_year %}
                                            <span class="badge badge-pill badge-info">{{ owner.founding_year }}</span>
                                        {% endif %}
                                        <p class="description">{{ owner.description }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <hr>
                <div class="col-md-8 ml-auto mx-auto mr-auto text-center">
                    <div class="profile">
                        <div class="avatar">
                            {% if vehicle.launcher_config.agency.logo_url %}
                                <img src="{{ vehicle.launcher_config.agency.logo_url.url }}"
                                     alt="Circle Image"
                                     class="img-fluid mx-auto"
                                     style="max-width: 75%;max-height: 400px;">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <row>
                    <div class="col-md-12 text-center">
                        {% if vehicle.launcher_config.agency.administrator %}
                            <span class="badge badge-pill badge-primary">{{ vehicle.launcher_config.agency.administrator }}</span>
                        {% endif %}
                        {% if vehicle.launcher_config.agency.founding_year %}
                            <span class="badge badge-pill badge-warning">Founded: {{ vehicle.launcher_config.agency.founding_year }}</span>
                        {% endif %}
                        <br>
                        {% if vehicle.launcher_config.agency.description %}
                            <p class="card-body">{{ vehicle.launcher_config.agency.description }}</p>
                        {% endif %}
                    </div>
                </row>
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-lg-3 col-md-12 col-xl-3">
                <!-- Categories Widget -->
                {% include "web/sidebar_launches_only.html" %}
            </div>
        </div>
    </div>
    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Space Launch Now -->
        <ins class="adsbygoogle"
             style="display:block; margin-top:16px; margin-bottom:16px;"
             data-ad-client="ca-pub-9824528399164059"
             data-ad-slot="8772606898"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% include "web/install_buttons.html" %}
{% endblock %}


