{% extends "web/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% block extrahead %}
    <link rel="canonical" href="https://spacelaunchnow.me/launch/">
    <title>Space Launch Now - Launch Vehicles</title>
    <meta name="title" content="Space Launch Now - Launches">
    <meta property="fb:app_id" content="746774215504127"/>
    <meta property="og:title" content="Space Launch Now - Launch Database"/>
    <meta property="og:type" content="website"/>
    <meta name="description"
          content="A nearly complete list of launches - the full history of spaceflight!">
    <meta property="og:description"
          content="A nearly complete list of launches - the full history of spaceflight!"/>
    <meta property="og:url" content="https://spacelaunchnow.me/launch"/>
    <meta property="og:image" content="{% static  'img/social.png' %}"/>
    <meta property="og:image:width" content="3000"/>
    <meta property="og:image:height" content="2000"/>

    <meta name="robots" content="index, follow"/>

    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="Space Launch Now"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Space Launch Now - Launch Database">
    <meta name="twitter:description"
          content="A nearly complete list of launch vehicles - the full history of spaceflight!">
    <meta name="twitter:image" content="{% static  'img/social.png' %}">
    <meta name="twitter:site" content="@SpaceLaunchNow">
    <meta name="twitter:creator" content="@SpaceLaunchNow">

{% endblock %}


{% block navigation %}
    {% include "web/navigation.html" %}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:100px;">
        <div class="container">
            <div class="container">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Launches</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">Space Launch Now Database</h1>
                    <h2 class="title">Explore the history of spaceflight.</h2>
                    <h5>This is a nearly complete collection of orbital spaceflight, we're working diligently to get to
                        100% coverage.
                        We've collected all of manned spaceflight and are working to collect unmanned
                        spaceflight's.</h5>

                </div>
            </div>
            <hr>
            <!-- Web - Horizontal -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9824528399164059"
                 data-ad-slot="6503993784"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="row">
            <div class="col-md-12 x-auto">
                <div class="col-md-12 mx-auto text-center">
                    <h1 class="title">Uh oh - Down for Maintenance!</h1>
                    <h3>While we wait - check out some of <a href="https://thespacedevs.com/networkusers">these awesome services</a> provided by other users of the <a href="https://thespacedevs.com/llapi">Launch Library API</a>.</h3>
                </div>
{#                <div class="col-md-12 mx-auto">#}
{#                    <h2 class="title">Filters</h2>#}
{#                    <h5>Search or filter by Status, Date, Location, etc</h5>#}
{#                    {% if filter %}#}
{#                        <form action="" method="get" class="form">#}
{#                            {% bootstrap_form filter.form %}#}
{#                            {% bootstrap_button 'filter' %}#}
{#                            <a class="btn btn-primary" href="/launch/">Clear</a>#}
{#                        </form>#}
{#                    {% endif %}#}
{#                </div>#}
{#                {% render_table table %}#}
            </div>
        </div>
        <hr>
        <h2 class="title text-center">Are you looking for Upcoming Launches?</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="min-height: 200px">
                    <div class="card-header card-header-text card-header-info">
                        <div class="card-text">
                            <h4 class="card-title">SpaceX Launch Schedule</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Never miss another SpaceX launch - bookmark this link for an up-to-date
                            schedule tracking all of SpaceX's activity and news updates...</p>
                        <a href="/launch/upcoming/spacex" class="btn btn-primary">View Launches</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="min-height: 200px">
                    <div class="card-header card-header-text card-header-success">
                        <div class="card-text">
                            <h4 class="card-title">Florida Launch Schedule</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">View upcoming launches from Cape Canaveral and Kennedy Space Center -
                            the home of American manned spaceflight...</p>
                        <a href="/launch/upcoming/florida" class="btn btn-primary">View Launches</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="min-height: 200px">
                    <div class="card-header card-header-text card-header-warning">
                        <div class="card-text">
                            <h4 class="card-title">Vandenberg Launch Schedule</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">All of Vandenberg AFB's spaceflight launches available here - America's
                            only polar and sun-synchronous orbit launch location...</p>
                        <a href="/launch/upcoming/vandenberg" class="btn btn-primary">View Launches</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Space Launch Now -->
        <ins class="adsbygoogle"
             style="display:block; margin-top:16px; margin-bottom:16px;"
             data-ad-client="ca-pub-9824528399164059"
             data-ad-slot="8772606898"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% include "web/install_buttons.html" %}
{% endblock content %}