{% extends "rest_framework/base.html" %}
{% load rest_framework %}
{% load static%}



{% block head %}

<title>{% block title %}{% if name and 'Space Launch' not in name%}{{ name }} | {% endif %}Space Launch Now - API{% endblock %}</title>

{% block style %}
{{ block.super }}
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
{% endblock %}

{% block bootstrap_theme %}
    <link href="{% static  'material_kit/css/bootswatch-paper.css' %}" rel="stylesheet">
{% endblock %}

{% endblock %}

{% load i18n %}

{% block navbar %}
    <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}"
         role="navigation" aria-label="{% trans "navbar" %}">
        <div class="container">
            <ul class="nav navbar-nav">
                {% block branding %}
                    <a class='navbar-brand' href='/'>Space Launch Now</a>
                    <a role="button" href="/docs" class="btn btn-default navbar-btn">Docs!</a>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Versions <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/v1">Version 1</a></li>
                            <li><a href="/2.0.0">Version 2.0.0</a></li>
                            <li><a href="/3.0.0">Version 3.0.0</a></li>
                            <li><a href="/3.2.0">Version 3.2.0</a></li>
                            <li><a href="/api/3.3.0">Version 3.3.0</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="https://github.com/ItsCalebJones/SpaceLaunchNow-Server/releases">Changelog</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="https://github.com/ItsCalebJones">GitHub</a></li>
                        </ul>
                    </li>

                {% endblock %}
            </ul>

            <ul class="nav navbar-nav pull-right">
                {% block userlinks %}
                    {% if user.is_authenticated %}
                        {% optional_logout request user %}
                    {% else %}
                        {% optional_login request %}
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </div>
{% endblock %}