{% extends "web/base.html" %}
{% load embed_video_tags %}
{% load user_agents %}
{% block extrahead %}
    <link rel="canonical" href="https://spacelaunchnow.me/event/{{ event.slug }}">
    <title>Space Launch Now - Space Stations</title>
    <meta name="title" content="Space Launch Now - {{ event.name }}">
    <meta property="fb:app_id" content="746774215504127"/>
    <meta property="og:title" content="Space Launch Now - {{ event.name }}"/>
    <meta property="og:type" content="website"/>
    <meta name="description"
          content="{{ event.description|truncatechars:150 }}">
    <meta property="og:description"
          content="{{ event.description|truncatechars:150 }}"/>
    <meta property="og:url" content="https://spacelaunchnow.me/event/{{ event.slug }}"/>
    <meta property="og:image" content="{{ event.feature_image.url }}"/>
    <meta property="og:image:width" content="3000"/>
    <meta property="og:image:height" content="2000"/>

    <meta name="robots" content="index, follow"/>

    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="Space Launch Now"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Space Launch Now - {{ event.name }}">
    <meta name="twitter:description" content="{{ event.description|truncatechars:150 }}">
    <meta name="twitter:image" content="https://spacelaunchnow.me/static/img/social.png">
    {% if event.feature_image %}
        <meta name="twitter:image" content="{{ event.feature_image.url }}"/>
    {% else %}
        <meta name="twitter:image" content="https://spacelaunchnow.me/static/img/social.png"/>
    {% endif %}
    <meta name="twitter:site" content="@SpaceLaunchNow">
    <meta name="twitter:creator" content="@SpaceLaunchNow">

{% endblock %}


{% block navigation %}
    {% include "web/navigation.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-xl-9">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/event">Events</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li>
                    </ol>
                </nav>
                <div class="card card-plain card-blog">
                    <div class="card-header card-header-image">
                        <img class="img img-raised" style="max-height: 500px; object-fit: cover;"
                             src="{{ event.feature_image.url }}">
                        <div class="colored-shadow"
                             style="background-image: url({{ event.feature_image.url }}); opacity: 1;"></div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-info"
                            style="display:inline;">{{ event.type.name }}</h6>
                        <h6 class="card-category"
                            style="display:inline;">{{ event.date }}</h6>
                        <h2 class="card-title">{{ event.name }}</h2>
                        {% if event.location %}
                            <span class="badge badge-pill badge-primary">{{ event.location }}</span>
                        {% endif %}
                        {% if event.spacestation %}
                            <span class="badge badge-pill badge-info">{{ event.spacestation.first.name }}</span>
                        {% endif %}
                        {% if event.launch %}
                            <span class="badge badge-pill badge-danger">{{ event.launch.first.name }}</span>
                        {% endif %}
                        {% if event.expedition %}
                            <span class="badge badge-pill badge-info">{{ event.expedition.first.name }}</span>
                        {% endif %}
                        <p class="card-description mt-2">
                            {{ event.description|linebreaks }}
                        </p>

                        {% if event.news_url %}
                            <div class="text-left">
                                <a class="btn btn-primary" href="{{ event.news_url }}">Read More</a>
                            </div>
                        {% endif %}

                        {% if event.video_url %}
                            {% video event.video_url as my_video %}
                                <h2 class="title text-center">Watch Here</h2>
                                <hr>
                                <div class="videoWrapper">
                                    {% if request|is_mobile %}
                                        {% video my_video '85% x 25%' %}
                                    {% else %}
                                        {% video my_video '100% x 100%' %}
                                    {% endif %}
                                </div>
                            {% endvideo %}
                        {% endif %}

                        {% if event.launch.first or event.spacestation.first %}
                            <h3 class="title">Related Information</h3>
                            <hr>
                        {% endif %}

                        {% if event.launch.first %}
                            <div class="col-sm-12 ml-auto mr-auto">
                                {% include 'web/views/small_launch_card.html' with launch=event.launch.first %}
                            </div>
                        {% endif %}

                        {% if event.spacestation.first %}
                            <div class="col-sm-12 ml-auto mr-auto">
                                {% include 'web/views/small_space_station.html' with vehicle=event.spacestation.first %}
                            </div>
                        {% endif %}
                        {% if event.news.first %}
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h2 class="title">Related News</h2>
                                    <hr>
                                </div>
                                {% if event.news.all|length > 0 %}
                                    {% for item in event.news.all %}
                                        <div class="col-xl-4 col-lg-6 col-md-12">
                                            <div class="card card-background"
                                                 style="background-image: url('{{ item.featured_image }}'); height: 390px;">
                                                <div class="card-body">
                                                    <h6 class="card-category text-info">{{ item.news_site }}</h6>
                                                    <h3 class="card-title">{{ item.title|truncatechars:65 }}</h3>
                                                    <div class="d-flex h-50 justify-content-between"
                                                         style="display: flex; flex-direction: column;">
                                                        <p class="card-description">
                                                            {{ item.description|truncatechars:120 }}
                                                        </p>
                                                        <div style="justify-content: center;display: flex;">
                                                            <a href="{{ item.link }}" class="btn btn-white btn-link">
                                                                <i class="material-icons">subject</i> Read Article
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-xl-3">
                <!-- Categories Widget -->
                {% include "web/sidebar_launches_only.html" %}
            </div>
        </div>
    </div>
    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Space Launch Now -->
        <ins class="adsbygoogle"
             style="display:block; margin-top:16px; margin-bottom:16px;"
             data-ad-client="ca-pub-9824528399164059"
             data-ad-slot="8772606898"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% include "web/install_buttons.html" %}
{% endblock content %}