{% extends "web/base.html" %}

{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar bg-primary fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#page-top"><b>Space Launch Now</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/next">Next</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/launch">Launches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link twitter" href="https://twitter.com/SpaceLaunchNow"><i
                                class="fab fa-twitter"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/api/3.3.0">API</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:100px; margin-bottom: 16px">
        <div class="card">
            <h1 class="card-title text-center" style="font-size: 18rem;">500</h1>
            <hr>
            <h3 class="card-subtitle text-center">Something bad happened, we're on it!</h3>
            <hr>
            <br>
            <br>
        </div>
    </div>
{% endblock %}