{% extends "web/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load humanize %}
{% block extrahead %}
    <link rel="canonical" href="https://spacelaunchnow.me/vehicle/spacecraft/{{ vehicle.id }}">
    <title>Space Launch Now - {{ vehicle.name }}</title>
    <meta name="title" content="Space Launch Now - {{ vehicle.name }}">
    <meta property="fb:app_id" content="746774215504127"/>
    <meta property="og:title" content="Space Launch Now - {{ vehicle.name }}"/>
    <meta property="og:type" content="website"/>
    <meta name="description"
          content="{{ vehicle.name }} - {{ vehicle.description|truncatechars:100 }}">
    <meta property="og:description"
          content="{{ vehicle.name }} - {{ vehicle.description|truncatechars:100 }}">
    <meta property="og:url" content="https://spacelaunchnow.me/astronaut/{{ astronaut.slug }}"/>
    <meta property="og:image" content="https://spacelaunchnow.me/static/img/header.jpg"/>
    <meta property="og:image:width" content="3000"/>
    <meta property="og:image:height" content="2000"/>
{% endblock %}


{% block navigation %}
    {% include "web/navigation.html" %}
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container" style="margin-top:100px; margin-bottom: 16px">
        <div class="row">
            <div class="container">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Web - Horizontal -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-9824528399164059"
                     data-ad-slot="6503993784"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <!-- Post Content Column -->
            <div class="col-lg-9 col-md-12 col-xl-9">
                <div class="col-sm-12">
                    <div class="card card-blog">
                        {% if vehicle.image_url %}
                            <div class="card-header card-header-image">
                                <img class="img"
                                     src="{{ vehicle.image_url.url }}">
                            </div>
                        {% else %}
                            <div class="card-header card-header-image">
                                <img class="img"
                                     src="https://x.kinja-static.com/assets/images/logos/placeholders/default.png">
                            </div>
                        {% endif %}
                        <div class="card-body text-center">
                            <h2 class="info-title text-center mb-0">{{ vehicle.name }}</h2>
                            {% if vehicle.in_use %}
                                <span class="badge badge-pill badge-success">Active</span>
                            {% else %}
                                <span class="badge badge-pill badge-danger">In-active</span>
                            {% endif %}

                            {% if vehicle.human_rated %}
                                <span class="badge badge-pill badge-success">Human Rated</span>
                            {% else %}
                                <span class="badge badge-pill badge-warning">Cargo</span>
                            {% endif %}

                            {% if vehicle.type.name %}
                                <span class="badge badge-pill badge-primary">{{ vehicle.type.name }}</span>
                            {% endif %}

                            {% if vehicle.crew_capacity %}
                                <span class="badge badge-pill badge-info">Crew Capacity: {{ vehicle.crew_capacity }}</span>
                            {% endif %}
                            {% if vehicle.payload_capacity %}
                                <span class="badge badge-pill badge-info">Payload Capacity: {{ vehicle.payload_capacity }} kg</span>
                            {% endif %}
                            {% if vehicle.diameter %}
                                <span class="badge badge-pill badge-info">Diameter: {{ vehicle.diameter }} m</span>
                            {% endif %}
                            {% if vehicle.height %}
                                <span class="badge badge-pill badge-info">Height: {{ vehicle.height }} m</span>
                            {% endif %}
                            <h3 class="info-subtitle text-muted">{{ vehicle.launch_agency.name }}
                                ({{ vehicle.launch_agency.abbrev }})</h3>
                            <h4 class="info-subtitle text-muted">{{ vehicle.maiden_flight }}</h4>
                            <h4 class="info-subtitle text-muted">{{ vehicle.capability }}</h4>

                            <div class="text-left">
                                {% if vehicle.flight_life %}
                                    <h6 class="info-subtitle text-muted">Flight Life</h6>
                                    <p class="info-subtitle text-muted">{{ vehicle.flight_life }}</p>
                                {% endif %}
                                <h6 class="info-subtitle text-muted">Description</h6>
                                <p class="description">{{ vehicle.details }}</p>
                                <h6 class="info-subtitle text-muted">History</h6>
                                <p class="description">{{ vehicle.history }}</p>
                            </div>
                            <hr>
                            <div class="col-lg-12 col-md-12 text-center mx-auto" style="margin-bottom: 20px">
                                {% if vehicle.launch_agency.nation_url %}
                                    {% thumbnail owner.nation_url "100x100" as im %}
                                        <img class="img-raised rounded-circle img-fluid text-center"
                                             src="{{ im.url }}"
                                             style="overflow: hidden;width: 100px;height: 100px;object-fit: cover;padding:1px;border:1px solid #cccccc;">
                                    {% endthumbnail %}
                                {% endif %}
                                <h4 class="info-title">{{ vehicle.launch_agency.name }}</h4>
                                <h6 class="info-subtitle mb-2 text-muted">{{ vehicle.launch_agency.type }}</h6>
                                <h6 class="info-subtitle mb-2 text-muted">{{ vehicle.launch_agency.administrator }}</h6>
                                {% if vehicle.launch_agency.abbrev %}
                                    <span class="badge badge-pill badge-primary">{{ vehicle.launch_agency.abbrev }}</span>
                                {% endif %}
                                {% if vehicle.launch_agency.founding_year %}
                                    <span class="badge badge-pill badge-info">{{ vehicle.launch_agency.founding_year }}</span>
                                {% endif %}
                                <p class="description">{{ vehicle.launch_agency.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-lg-3 col-md-12 col-xl-3">
                <!-- Categories Widget -->
                {% include "web/sidebar_full.html" %}
            </div>
        </div>
    </div>
    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Space Launch Now -->
        <ins class="adsbygoogle"
             style="display:block; margin-top:16px; margin-bottom:16px;"
             data-ad-client="ca-pub-9824528399164059"
             data-ad-slot="8772606898"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% include "web/install_buttons.html" %}
{% endblock %}


