[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "${EXTRA_INDEX_URL}"
verify_ssl = true
name = "pypiserver"

[packages]

buffpy = {editable = true, ref = "master", git = "https://github.com/ItsCalebJones/buffpy.git"}
boto3 = "==1.23.0"
botocore = "==1.26.0"
coverage = "*"
Collectfast = "*"
Django = "==3.2.13"
django-bootstrap4 = "==22.2"
django-bootstrap-form = "*"
django-cachalot = "*"
django-compat = "*"
django-cors-headers = "*"
django-cleanup = "*"
django-debug-toolbar = "*"
django-embed-video = "*"
django-extensions = "*"
django-filter = "==2.4.0"
django-health-check = "*"
django-ical = "==1.8.2"
django-jenkins = "*"
django-jet = {editable = true, ref = "ll-python-3", git = "https://github.com/ItsCalebJones/django-jet.git"}
django-launch-library = {version="==3.1.4", index="pypiserver"}
django-mathfilters = "*"
django-robots = "*"
django-storages = "==1.12.3"
django-tz-detect = "*"
django-tables2 = "*"
django-user-agents = "*"
djangorestframework = "==3.13.1"
djangorestframework-bulk = "*"
djangorestframework-queryfields = "*"
drf-yasg = "*"
drf-spectacular = "*"
goose3 = "*"
gunicorn = "*"
Markdown = "==3.4.1"
num2word = "*"
pilkit = "*"
Pillow = "*"
pyfcm = "==1.5.1"
pytz = "*"
psycopg2-binary = "*"
python-digitalocean = "*"
python-memcached = "*"
python-dateutil = "*"
praw = "*"
regex = "*"
sorl-thumbnail = "*"
sorl-thumbnail-serializer-field = "*"
twitter = "==1.18.0"
tzlocal = "*"
unittest-xml-reporting = "*"

[dev-packages]


[requires]
python_version = "3.10"
