[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "${EXTRA_INDEX_URL}"
verify_ssl = true
name = "pypiserver"

[packages]

buffpy = {editable = true, ref = "master", git = "https://github.com/ItsCalebJones/buffpy.git"}
boto3 = "==1.23.0"
botocore = "==1.26.0"
coverage = "==6.3.3"
Collectfast = "==2.2.0"
Django = "==3.2.13"
django-bootstrap4 = "==22.1"
django-bootstrap-form = "==3.4"
django-cachalot = "==2.5.1"
django-compat = "==1.0.15"
django-cors-headers = "==3.12.0"
django-cleanup = "==6.0.0"
django-debug-toolbar = "==3.4.0"
django-embed-video = "==1.4.4"
django-extensions = "==3.1.5"
django-filter = "==21.1"
django-health-check = "==3.16.5"
django-ical = "==1.8.3"
django-jenkins = "==0.110.0"
django-jet = {editable = true, ref = "ll-python-3", git = "https://github.com/ItsCalebJones/django-jet.git"}
django-launch-library = {version="==3.1.1", index="pypiserver"}
django-mathfilters = "==1.0.0"
django-robots = "==5.0"
django-storages = "==1.12.3"
django-tz-detect = "==0.4.0"
django-tables2 = "==2.4.1"
django-user-agents = "==0.4.0"
djangorestframework = "==3.13.1"
djangorestframework-bulk = "==0.2.1"
djangorestframework-queryfields = "==1.0.0"
drf-yasg = "==1.20.0"
drf-spectacular = "==0.22.1"
goose3 = "==3.1.11"
gunicorn = "==20.1.0"
Markdown = "==3.3.7"
num2word = "==1.0.1"
pilkit = "==2.0"
Pillow = "==9.1.0"
pyfcm = "==1.5.1"
pytz = "==2022.1"
psycopg2-binary = "==2.9.3"
python-digitalocean = "==1.17.0"
python-memcached = "==1.59"
python-dateutil = "==2.8.2"
praw = "==7.6.0"
regex = "==2022.4.24"
sorl-thumbnail = "==12.8.0"
sorl-thumbnail-serializer-field = "==0.2.1"
twitter = "==1.18.0"
tzlocal = "==4.2"
unittest-xml-reporting = "==3.2.0"

[dev-packages]


[requires]
python_version = "3.10"
