{% extends "web/base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block extrahead %}
    <link rel="canonical" href="https://spacelaunchnow.me/vehicle/launch_vehicle/">
    <title>Space Launch Now - Launch Vehicles</title>
    <meta name="title" content="Space Launch Now - Launch Vehicles">
    <meta property="fb:app_id" content="746774215504127"/>
    <meta property="og:title" content="Space Launch Now - Launch Vehicles"/>
    <meta property="og:type" content="website"/>
    <meta name="description"
          content="A nearly complete list of launch vehicles - the full history of spaceflight!">
    <meta property="og:description"
          content="A nearly complete list of launch vehicles - the full history of spaceflight!"/>
    <meta property="og:url" content="https://spacelaunchnow.me/vehicle/launch_vehicle"/>
    <meta property="og:image" content="https://spacelaunchnow.me/static/img/social.png"/>
    <meta property="og:image:width" content="3000"/>
    <meta property="og:image:height" content="2000"/>

    <meta name="robots" content="index, follow"/>

    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="Space Launch Now"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Space Launch Now - Launch Vehicles">
    <meta name="twitter:description"
          content="A nearly complete list of launch vehicles - the full history of spaceflight!">
    <meta name="twitter:image" content="https://spacelaunchnow.me/static/img/social.png">
    <meta name="twitter:site" content="@SpaceLaunchNow">
    <meta name="twitter:creator" content="@SpaceLaunchNow">

{% endblock %}


{% block navigation %}
    {% include "web/navigation.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">Launch Vehicles</h1>
                    <h2>Explore the launch vehicles we use to get to Orbit</h2>
                    <hr>
                </div>
            </div>
            <!-- Web - Horizontal -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9824528399164059"
                 data-ad-slot="6503993784"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="row">
            <div class="col-md-12 x-auto">
                <div class="col-md-8 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h2>Launch Vehicle Filters</h2>
                            <h3>Filter by Agency, Status or Family</h3>
                            <button class="btn btn-round btn-primary"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                Show Filters
                            </button>
                            <div id="collapseOne" class="collapse mt-2" aria-labelledby="headingOne"
                                 data-parent="#accordion">
                                {% if filter %}
                                    <form action="" method="get" class="form">
                                        {% bootstrap_form filter.form %}
                                        {% bootstrap_button 'filter' %}
                                        <a class="btn btn-primary" href="/vehicle/launch_vehicle">Clear</a>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% render_table table %}
            </div>
        </div>
    </div>
    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Space Launch Now -->
        <ins class="adsbygoogle"
             style="display:block; margin-top:16px; margin-bottom:16px;"
             data-ad-client="ca-pub-9824528399164059"
             data-ad-slot="8772606898"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% include "web/install_buttons.html" %}
{% endblock content %}